/*
 * font-face definations
 */
@font-face {
  font-family: 'LiHei';
  src: url('http://img.muyisir.cn/Font_LiHeiPro.woff') format('woff'),
       url('http://img.muyisir.cn/Font_LiHeiPro.ttf') format('truetype');
}

@font-face {
  font-family: 'CodeNewRomanNFMono';
  src: url('http://img.muyisir.cn/Font_CodeNewRomanNF_Complete_Mono.woff2') format('woff2'),
       url('http://img.muyisir.cn/Font_CodeNewRomanNF_Complete_Mono.woff') format('woff'),
       url('http://img.muyisir.cn/Font_CodeNewRomanNF_Complete_Mono.ttf') format('truetype');
}

@font-face {
  font-family: "DancingScript";
  src: url('http://img.muyisir.cn/Font_DancingScript_Bold.woff2') format('woff2'),
       url('http://img.muyisir.cn/Font_DancingScript_Bold.woff') format('woff'),
       url('http://img.muyisir.cn/Font-DancingScript_Bold.ttf') format('truetype');
}

@font-face {
  font-family: "BadScript";
  src: url('http://img.muyisir.cn/Font_BadScript_Regular.woff2') format('woff2'),
       url('http://img.muyisir.cn/Font_BadScript_regular.woff') format('woff'),
	   url('http://img.muyisir.cn/Font_BadScript_Regular.ttf') format('truetype');
}

/*
 * style.css
 */
body {
  font-family: "LiHei" !important;
}


/*
 * markdown.css
 */

#contentBody code {
  font-family: "CodeNewRomanNFMono" !important;
}

#contentBody pre {
  font-family: "CodeNewRomanNFMono" !important;
}

#contentBody kbd {
  font-family: "CodeNewRomanNFMono" !important;
  font-size: 11px;
}


/*
 * rico-custom.css
 */


.iconfont {
  font-size: 26px;
}

nav li a {
  text-decoration: none;
}

#profileContainer {
  min-height: calc(100vh - 196px);
}

.author {
  font-family: "DancingScript" !important;
  font-size: 4em;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-family: 'DancingScript',-apple-system,BlinkMacSystemFont,LiHei,microsoft yahei ui,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;*/
}

h2 .author {
  font-size: 2em;
  text-decoration: none;
}

.description {
  margin-top: 15px;
  margin-bottom: 28px;
  font-family: "BadScript" !important;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 0.1);
    /* Old browsers */

    background: #ed8080;
    /* FF3.6+ */

    background: -moz-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
    /* Chrome,Safari4+ */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ed8080), color-stop(16%, #2a77d6), color-stop(32%, #5eb524), color-stop(48%, #eacd25), color-stop(64%, #ed8080), color-stop(80%, #2a77d6), color-stop(100%, #5eb524));
    /* Chrome10+,Safari5.1+ */

    background: -webkit-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
    /* Opera 11.10+ */

    background: -o-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
    /* IE10+ */

    background: -ms-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
    /* W3C */

    background: linear-gradient(to right, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
    /* IE6-9 */

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ed8080', endColorstr='#5eb524', GradientType=1);
    -webkit-background-size: 300% 300%;
    -moz-background-size: 300% 300%;
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    animation: description infinite 3s linear;
    -o-animation: description infinite 3s linear;
    -moz-animation: description infinite 3s linear;
    -webkit-animation: description infinite 3s linear;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #222;
}
@-moz-keyframes description {
    0% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}
@-webkit-keyframes description {
    0% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}
@-o-keyframes description {
    0% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}
@keyframes description {
    0% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}
}

/*.description i {
  color: #1474ed;
}*/

footer {
  font-size: 14px;
}

.articleList {
  font-family: "BadScript" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-family: 'BadScript',-apple-system,BlinkMacSystemFont,LiHei,microsoft yahei ui,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;*/
}

div#contentsList p a {
  font-size: 18px;
}
